* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    min-height: 200vh;
    flex-direction: column;
    display: flex;
}

/* <!-- Header --> */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
    padding: 15px 100px;
    background-color: #FFFFFF;
    z-index: 9999;
}

header.sticky {
    padding: 15px 100px;
    background: #000000;
}

header .logo {
    position: relative;
    font-weight: 700;
	color: #000000;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.2s;
}

.profile_icon {
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: 0.2s;
    height: 50px;
    width: 50px;
    background: url(images/user.png);
    background-size: cover;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.2s;
}

header ul li a:hover {
    opacity: 50%;
}

.profile_icon:hover {
    opacity: 50%;
}

.logo:hover {
    opacity: 50%    ;
}

header.sticky .logo,
header.sticky ul li a {
    color: #FFFFFF;
}

header.sticky .profile_icon {
    height: 50px;
    width: 50px;
    background: url(images/user.png);
    background-size: cover;
    transition: 0.8s;
}

/* <!-- Body --> */
.textbox {
    position: relative;
    z-index: -1;
}

.bg-img {
    display: flex;
	margin: 0 auto;
	width: 100%;
	height: 770px;
	box-sizing: border-box;
	object-fit: cover;
}

.body-content {
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 40%;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	color: white;
	font-size: 78px;
	text-align: center;
}
